{% extends 'base.html.twig' %}

{% block title %}

	Moto Travel


{% endblock %}

{% block body %}
	<section class="carousel">
		<div   style="background-image: url('./Images/bg2.jpg'); background-position: center;background-size: cover; " >
			<div class="py-5" class="container-fluid" style="background-color: rgba(0, 0, 0, .2);">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, praesentium!</h2>
							<br>
							<p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, cumque inventore commodi cupiditate totam laborum beatae sed quasi doloribus quae.</p>
							<span ><i class="fa fa-2x fa-facebook-square text-primary"></i>   <i class="fa fa-2x fa-twitter text-primary"></i>      <i class="fa fa-2x fa-instagram text-danger" ></i></span>
							<br>
							<div>
								<button class=" btn bp  my-5">Our Offres</button>
								<button class=" btn bp my-5">Let's Chat</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h1 class="text-center my-5">Our services</h1>
		<div class="container my-5">
			<div class="row">
				<div class="col-sm-4">
					<img  height="30" width="30" src="./Images/quotes.png" alt="">
					<p class="text-mute my-2">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Reiciendis<br> adipisicing elit. Reiciendis, consequuntur?</p>
					<br>
					<small>Words by ......</small>
				</div>
				<div class="col-sm-4 " >
					<div class="part-1 position-relative" > 
						<div class="w-100 ">
							<div >
								<div class="service-content-show dropUp">
									<span class="mx-5 px-5"><i class="fas fa-chart-line  text-danger  mx-3"></i> <small class="text-white text-center">Services</small></span>
									<br>
									<div class="service-content  m-3">
										<small class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident!</small>
										<small class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident!</small>
										<br>
										<button class=" my-3 btn btn-primary btn-sm">Read More</button>
									</div>
								</div>					
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 " >
					<div class="part-2 position-relative" > 
						<div class="w-100 ">
							<div >
								<div class="service-content-show dropUp">
									<span class="mx-5 px-5"><i class="fa fa-cogs  text-danger  mx-3"></i> <small class="text-white text-center">What we do?</small></span>
									<br>
									<div class="service-content  m-3">
										<small class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident!</small>
										<small class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident!</small>
										<br>
										<button class=" my-3 btn btn-primary btn-sm">Read More</button>
									</div>
								</div>					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="section-process"  class="text-light no-top no-bottom"  >
        <div data-parallax="scroll" data-image-src="./Images/london-uk.jpg"   style="background-color: rgba(0,0,0,.8);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                       <h5 class="mt-5 text-secondary">STEPS</h5>
                       <h2 class="text-primary mt-2 mb-5">Our Process</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="de_tab tab_steps style-2">
                            <ul class="de_nav  py-5">
                                <li class="active wow fadeInRight" data-wow-delay="0s"> <span><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Idea</span>
                                    <div class="arrow "></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay=".3s"><span><i class="fas fa-palette    "></i> Design</span>
                                    <div class="arrow"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay=".6s"><span><i class="fa fa-motorcycle" aria-hidden="true"></i> Develop</span>
                                    <div class="arrow"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay=".9s"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Result</span>
                                    <div class="arrow"></div>
                                </li>
                            </ul>

                            <div class="de_tab_content py-5">

                                <div id="tab1  ">
                                    <span class="text-content"> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam. Sed ut perspiciatis unde omnis
                                        iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
                                </div>

                                <div id="tab2 ">
                                   <span class="text-content"> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam. Sed ut perspiciatis unde omnis
                                    iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
                                </div>

                                <div id="tab3  text-primary">
                                    <span class="text-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</span>
                                </div>

                                <div id="tab4">
                                   <span class="text-content"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                                    quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section>
		<h1 class="text-center my-5"> Our Offres </h1>
		<div class="container ">
			<div class="row">
				<div class="card col-sm-12 col-md-4 col-xl-4  border-0 ">
					<span class="position-absolute badge-card " >Imeritsiatosika</span>
					<img src="./Images/bg1.jpg" class="card-img-top my-3 rounded-1 " height="200">
					<div class="card-body m-0 px-0">
					  <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, doloribus.</h5>
					  <p class="card-text text-muted">Lorem ipsum dolor. Beatae deserunt providentmolestias corrupti minima ipsa ipsum debitis reprehenderit doloremque fuga distinctio</p>
					  <div class="row my-5">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Duration <br> <small class="text-mute">3 Days</small></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fas fa-users    "></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Groupe size <br> <small class="text-mute">4 Peoples</small></p>
									</div>
								</div>
							</div>
							<!----------->
							<div class="col-sm-6">
								14$
							</div>
							<div class="col-sm-6">
								<button class="btn btn-warning">Learn More</button>
							</div>
					  </div>
					</div>
				</div>
				<div class="card col-sm-12 col-md-4 col-xl-4  border-0  ">
					<span class="position-absolute badge-card " >Imeritsiatosika</span>
					<img src="./Images/bg1.jpg" class="card-img-top my-3 rounded-1 " height="200">
					<div class="card-body m-0 px-0">
					  <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, doloribus.</h5>
					  <p class="card-text text-muted">Lorem ipsum dolor. Beatae deserunt providentmolestias corrupti minima ipsa ipsum debitis reprehenderit doloremque fuga distinctio</p>
					  <div class="row my-5">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Duration <br> <small class="text-mute">3 Days</small></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fas fa-users    "></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Groupe size <br> <small class="text-mute">4 Peoples</small></p>
									</div>
								</div>
							</div>
							<!----------->
							<div class="col-sm-6">
								14$
							</div>
							<div class="col-sm-6">
								<button class="btn btn-warning">Learn More</button>
							</div>
					  </div>
					</div>
				</div>
				<div class="card col-sm-12 col-md-4 col-xl-4  border-0  ">
					<span class="position-absolute badge-card " >Imeritsiatosika</span>
					<img src="./Images/bg1.jpg" class="card-img-top my-3 rounded-1 " height="200">
					<div class="card-body m-0 px-0">
					  <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, doloribus.</h5>
					  <p class="card-text text-muted">Lorem ipsum dolor. Beatae deserunt providentmolestias corrupti minima ipsa ipsum debitis reprehenderit doloremque fuga distinctio</p>
					  <div class="row my-5">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fa fa-calendar-check-o" aria-hidden="true"></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Duration <br> <small class="text-mute">3 Days</small></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<h2><i class="fas fa-users    "></i></h2>
									</div>
									<div class="col-sm-8 m-0 p-0">
										<p>Groupe size <br> <small class="text-mute">4 Peoples</small></p>
									</div>
								</div>
							</div>
							<!----------->
							<div class="col-sm-6">
								14$
							</div>
							<div class="col-sm-6">
								<button class="btn btn-warning">Learn More</button>
							</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
			<div class="container my-5">
				<div class="row">
					<div class="col-sm-6">
						section sary + header
					</div>
					<div class="col-sm-6">
						video
					</div>
				</div>
			</div>
	</section>


	<section>
		<h1 class="text-center">Testimonial</h1>
		carousel
	</section>

	<section>
		articles
	</section>


{% endblock %}
