{% extends 'base.html.twig' %}

{% block title %}

	Moto Travel


{% endblock %}

{% block body %}
	<section class="carousel">
		<div   style="background-image: url('./Images/bg1.jpg'); background-position: center;background-size: cover; " >
			<div class="py-5" class="container-fluid" >
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, praesentium!</h2>
							<br>
							<p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, cumque inventore commodi cupiditate totam laborum beatae sed quasi doloribus quae.</p>
							<span ><i class="fa fa-2x fa-facebook-square text-primary"></i>   <i class="fa fa-2x fa-twitter text-primary"></i>      <i class="fa fa-2x fa-instagram text-danger" ></i></span>
							<br>
							<div>
								<button class=" btn bp  my-5">Our Offres</button>
								<button class=" btn bp my-5">Let's Chat</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<h1 class="text-center my-5">Our services</h1>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h1>"</h1>
				</div>
				<div class="col-sm-4">
					sect2
				</div>
				<div class="col-sm-4">
					sec-3
				</div>
			</div>
		</div>
	</section>

	<section>
		<h1 class="text-center">Our Process</h1>
		<div class="container-fluid">
			<div class=" d-flex justify-content-center">
					<div>
						di1
					</div>
					<div>
						div2
					</div>
					<div>
						di3
					</div>
					<div>
						div4
					</div>
			</div>
		</div>
	</section>

	<section>
		<h1 class="text-center my-5"> Our Offres </h1>
		<div class="container">
			<div class="row">
				<div class="card col-sm-4">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
				<div class="card col-sm-4">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
				<div class="card col-sm-4">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
			<div class="container my-5">
				<div class="row">
					<div class="col-sm-6">
						section sary + header
					</div>
					<div class="col-sm-6">
						video
					</div>
				</div>
			</div>
	</section>


	<section>
		<h1 class="text-center">Testimonial</h1>
		carousel
	</section>

	<section>
		articles
	</section>


{% endblock %}
