{% extends 'base.html.twig' %}

{% block title %}

Moto Travel


{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light footer p-4 " style="z-index: 3;">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Acueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Offres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Special</a>
            <a class="dropdown-item" href="#">Journalier</a>
            <a class="dropdown-item" href="#">Semestre</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link ">A Propos</a>
        </li>
      </ul>
      <button class="btn btn-primary px-3 float-right">Login</button>
    </div>
</nav>
{% endblock %}
